#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-list {
  display: flex;
  gap: 1rem;
}

.card-list .card {
  transition: 0.5s;
  filter: brightness(1);
}

.card-list .card:hover {
  color: #000;
  transition: 0.5s;
  filter: brightness(1.3);
}